[Unit]
Description=Sincronización de rclone al apagar
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
Restart=no

User=ula
Group=ula

ExecStart=/bin/true
ExceStop=/home/ula/scripts/rclone_sync.sh

TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
